
table.tableFlights
{
  border: 2px solid black;
  padding: 2px 2px 2px 2px;
}

tr

span.tableHeader 
{
  margin:3px;
  color: blue;
  font-size: 14;
  font-weight: bold;
  background-color: #eeeeee
}

span.tableContent 
{
  margin:3px;
  color: black;
  font-size: 12;
  font-weight: normal;
  background-color: #ffffff
}

