Package: flugbuch2
Version: 2.0.0
Section: web 
Priority: optional
Architecture: i386
Essential: no
Depends: apache2, libapache2-mod-fastcgi, libfcgi0ldbl
Pre-Depends: 
Recommends: mozilla | netscape | firefox  
Suggests:  
Installed-Size: 1024
Maintainer: Richard Ulrich <richi@paraeasy.ch>
Conflicts: 
Replaces: 
Provides: 
Description: Manage your flight log book. Mainly intended for paraglider pilots, but can also be used for others.
.
More descriptive text.

