Package: flugbuch2
Version: 2.0.0
Section: web 
Priority: optional
Architecture: i386
Essential: no
Depends: apache2, libapache2-mod-fastcgi, libfcgi0ldbl
Recommends: mozilla | netscape | firefox  
Installed-Size: 1024
Maintainer: Richard Ulrich <richi@paraeasy.ch>
Description: Manage your flight log book. Mainly intended for paraglider pilots, but can also be used for others.
